# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
#print(g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [32]:
vacationDF = pd.read_csv("cities.csv")
vacationDF.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Sampit,39,ID,1587177642,68,-2.53,112.95,88.36,3.06
1,1,Yellowknife,90,CA,1587177610,63,62.46,-114.35,28.00,9.17
2,2,Rikitea,1,PF,1587177524,63,-23.12,-134.97,77.36,1.99
3,3,Newtownards,1,GB,1587177375,86,54.59,-5.69,42.01,4.70
4,4,Puerto Ayora,82,EC,1587177524,94,-0.74,-90.35,75.99,6.33

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [33]:
gmaps.configure(api_key=g_key)
# Store latitude and longitude in locations
locations = vacationDF[["Lat", "Lng"]]

# Fill NaN values and convert to float
humidity = vacationDF["Humidity"]

In [34]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=50,
                                 point_radius=5)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [20]:
#* A max temperature lower than 80 degrees but higher than 70.
perfectcondtionsdf = vacationDF.loc[(vacationDF["Max Temp"]<80) \
                                    & (vacationDF["Max Temp"]>70) & (vacationDF["Wind Speed"]<10) & (vacationDF["Cloudiness"]==0)]
 # * Wind speed less than 10 mph.

  #* Zero cloudiness.

  #* Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
perfectcondtionsdf

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
16,16,Morondava,0,MG,1587177660,77,-20.28,44.28,74.70,8.81
47,47,San Juan,0,AR,1587177598,34,-31.54,-68.54,71.82,6.91
156,156,Sur,0,OM,1587177597,75,22.57,59.53,79.23,6.15
178,178,Chirongui,0,YT,1587177859,83,-12.93,45.15,78.80,3.36
222,222,Bara,0,NG,1587177912,13,10.37,10.73,77.79,1.12
241,241,Flinders,0,AU,1587177939,44,-34.58,150.86,72.00,7.00
420,420,Pindiga,0,NG,1587178170,14,9.98,10.93,79.30,1.36
543,543,Agadez,0,NE,1587178327,14,19.75,10.25,75.76,4.94

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [21]:
hotel_df = perfectcondtionsdf.loc[:,["City", "Country", "Lat", "Lng"]]
hotel_df["Hotel Name"] = ""
hotel_df

          City Country    Lat     Lng Hotel Name
16   Morondava      MG -20.28   44.28
47    San Juan      AR -31.54  -68.54
156        Sur      OM  22.57   59.53
178  Chirongui      YT -12.93   45.15
222       Bara      NG  10.37   10.73
241   Flinders      AU -34.58  150.86
420    Pindiga      NG   9.98   10.93
543     Agadez      NE  19.75   10.25

In [24]:
params = {
 
    "types": "lodging",
    "radius": 5000,
    "key": g_key
}
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # make request and print url
    response= requests.get(base_url, params=params)
    # convert to json
    response= response.json()
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = response["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
hotel_df

Missing field/result... skipping.
Missing field/result... skipping.

          City Country    Lat     Lng                               Hotel Name
16   Morondava      MG -20.28   44.28                           La Case Bambou
47    San Juan      AR -31.54  -68.54                         Hotel Provincial
156        Sur      OM  22.57   59.53                          Sur Plaza Hotel
178  Chirongui      YT -12.93   45.15                       La Villa Mahatsara
222       Bara      NG  10.37   10.73
241   Flinders      AU -34.58  150.86  Shellharbour Resort & Conference Centre
420    Pindiga      NG   9.98   10.93                     Accommodation Center
543     Agadez      NE  19.75   10.25

In [25]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [27]:
# Add marker layer ontop of heat map

markerlayers = gmaps.marker_layer(locations, info_box_content = hotel_info)
# Display figure
fig.add_layer(markerlayers)
fig

Figure(layout=FigureLayout(height='420px'))